.error404 {
  font-family: 'Arial', sans-serif;
  font-size: 150%;
  font-weight: bold;
  color: red;
  text-align: center;
  padding-top: 85px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: yellow;
  border: solid black;
  box-sizing: border-box;
}
